body{
    background-color: rgb(242, 231, 217);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#container {
    display: flex;
    flex-wrap: wrap;
    max-height: 960px;
    max-width: 960px;
}

.square {
    background-color: rgb(238, 245, 245);
    border-style: solid;
    border-width: 0.00000001rem;
    border-color: rgb(212, 211, 211);
}